*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
    outline: none;
    font-family:quicksand, sans-serif;
}
html{
    font-size: 50%;
}
.container{
height: 100%;
/* width: 100vh; */
display: flex;
justify-content:center;
align-items: center;   
}
.form-wrapper{
    width: 100rem;
    height: 70rem;
    background-color: #eee;
    border-radius: 3rem;
    position: relative;
    /* overflow: hidden; */
    box-shadow: 0 2rem 6rem rgba(0,0,0,3);
}

.banner{
    position:absolute;
    top:25%;
    left:5rem;
    text-align: center;
    color:#fff;
    width:30rem;
    z-index:100;
    transition: left 0.8s;
}

.container.change.banner {
    left: 5rem;
}


.banner h1{
    font-size: 4rem;
    margin-bottom: 3rem;
}

.banner p{
    font-size:2rem;

}
.green-bg{
    width:40%;
    height:100%;
    background: linear-gradient(to right,#973ed6, #6a4dd4);
    position: absolute;
    top: 0;
    left: 0;
    /* z-index: 50; */
    transition: width 1.5s cubic-bezeir(0.19,1,0,0.22,1);
}

.container.change .green-bg{
    width: 40%;
}

.green-bg button{
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translatex(-50%);
    width:16rem;
    height:5rem;
    background: transparent;
    border: 0.1rem solid #fff;
    border-radius: 3rem;
    text-transform:uppercase;
    letter-spacing:0.1rem;
    color:#fff;
    cursor: pointer;
}

.signup-form{
    width: 60rem;
    height:100%;
    position: absolute;
    top: 0;
    left:40rem;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items:center;
    padding: 10rem 0;
    transition: left 1.5s cubic-bezier(0.19, 1, 0.22, 1);
}

.container.change .signup-form{
    left: 40rem;
}

.signup-form h1{
    font-size: 4rem;
    color: #3aaf9f;
}

.social-media{
    display: flex;
}
.social-media i{
    width:2.4rem;
    height:2.4rem;
    border: 0.1rem solid #777;
    border-radius:50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0.7rem;
    font-size: 2rem;
    color: #555;
}

.signup-form p{
    font-size: x-small;
    color:#555;
    margin: 2rem;
    padding:0rem;
}
.signup-form a{
    font-size: 2rem;
}

#date{
    margin:0rem;
    padding:0rem;
}

.input-group{
    font-size:x-small;
    height:100%;
    width:80%;
    position: relative;
    color:rgb(96, 92, 92);
}

.input-group input{
    padding: 1rem 1rem 1rem 2rem;
    background-color: #ddd;
    border: none;
    width: 28rem;
    height: 4rem;
    border-radius: 0.5rem;
}
.input-group select{
    border: none;
    background-color: #ddd;
    border-radius: 0.5rem;
    width: 28rem;
    height: 4rem;
    text-align-last :center;
}
/* .img{
    width:15rem;
} */

.input-group i{
    position: absolute;
    /* transform:translateY(-50%); */
    /* font-size: 1.2rem; */
    color:#555;
}

.signup-form button{
    width: 16rem;
    height:5rem;
    border-radius: 3rem;
    color: #fff;
    margin-top: 5rem;
    cursor:pointer;
    letter-spacing: 0.7rem;
    background-color: #3aaf9f;
}